<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nba</key>
	<dict>
		<key>name</key>
		<string>NBA</string>
		<key>iconLabel</key>
		<string>basketball</string>
		<key>subreddit</key>
		<string>nba</string>
	</dict>
	<key>nfl</key>
	<dict>
		<key>name</key>
		<string>NFL</string>
		<key>iconLabel</key>
		<string>footballAmerican</string>
		<key>subreddit</key>
		<string>nfl</string>
	</dict>
	<key>baseball</key>
	<dict>
		<key>name</key>
		<string>MLB</string>
		<key>iconLabel</key>
		<string>baseball</string>
		<key>subreddit</key>
		<string>baseball</string>
	</dict>
</dict>
</plist>
